# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.wrangler/

# IntelliJ-based IDEs
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android specific
android/app/debug
android/app/profile
android/app/release
android/app/src/debug/res/values/google_maps_api.xml
android/app/src/profile/res/values/google_maps_api.xml
android/app/src/release/res/values/google_maps_api.xml
android/key.jks
android/local.properties
android/app/build/

# iOS specific
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Pods/
ios/Podfile.lock
